/* Webfont: HamburgSans-Regular */

@font-face {
    font-family: 'webfont';
    src: url('HamburgSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('HamburgSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HamburgSans-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('HamburgSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('HamburgSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HamburgSans-Regular.svg#HamburgSans-Regular') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}

