/* Webfont: HamburgSans-Italic */

@font-face {
    font-family: 'webfont';
    src: url('HamburgSans-Italic.eot'); /* IE9 Compat Modes */
    src: url('HamburgSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HamburgSans-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('HamburgSans-Italic.woff') format('woff'), /* Modern Browsers */
         url('HamburgSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HamburgSans-Italic.svg#HamburgSans-Italic') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}

