/* Webfont: HamburgSans-Bold */

@font-face {
    font-family: 'webfont';
    src: url('HamburgSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('HamburgSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HamburgSans-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('HamburgSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('HamburgSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HamburgSans-Bold.svg#HamburgSans-Bold') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}
