<!--
	=====================
	Partials/ResultRows.html
-->
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div id="kesearch_results">
    <v:variable.set name="hasResult" value="0" />
	<f:for each="{resultrows}" as="resultrow">
            <f:if condition="{type} == 'content'">
                <f:then>
                    <f:if condition="{resultrow.type} == 'content'">
                        <f:render partial="ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
                        <v:variable.set name="hasResult" value="1" />
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{resultrow.type} == 'file'">
                        <f:render partial="ResultRow" arguments="{conf: conf, resultrow: resultrow}" />
                        <v:variable.set name="hasResult" value="1" />
                    </f:if>
                </f:else>
            </f:if>
	</f:for>
    <f:if condition="{hasResult}">
        <f:then></f:then>
        <f:else>
            <p class="text-center">No results</p><br>
        </f:else>
    </f:if>
</div>
