<!--
	=====================
	Partials/ResultRow.html
-->
<div class="result-list-item result-list-item-type-{resultrow.type}">
    <p class="text-center">	
        <f:format.raw>{resultrow.title}</f:format.raw></strong>
    </p>
    <p class="text-center">
	<f:format.raw>{resultrow.teaser}</f:format.raw>
    </p>
</div>