<f:layout name="Default" />

<f:section name="Main">
    <section id="start" class="section hero">
        <h1 class="h1 hero__headline">
            {data.subtitle}
        </h1>

        <div class="dunkelblauesBand">
            <div class="dunkelblauesBand__schiffsbug">
            </div>
        </div>
    </section>

    <section id="about" class="section section--about">
        <div class="rotesBand rotesBand--0 js--rotesBand"></div>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />

        <br />
        <br />
        <hr class="line">
        <br />
        <br />

        <h2 class="h2 h2--centered">Hamburg Facts</h2>
        <div class="infographic infographic--blue col">
            <div class="infographic__item infographic__item--5">
                <h2 class="infographic__copy">
                    2nd
                </h2>
                <p class="copy infographic__subcopy">largest city of Germany with 1.8 million inhabitants</p>
            </div>

            <div class="infographic__item infographic__item--5">
                <h2 class="infographic__copy">
                    5.3
                </h2>
                <p class="copy infographic__subcopy">million people live in the Hamburg metropolitan region</p>
            </div>
            
            <div class="infographic__item infographic__item--5">
                <h2 class="infographic__copy">
                    3rd
                </h2>
                <p class="copy infographic__subcopy">largest port in Europe</p>
            </div>

            <div class="infographic__item infographic__item--5">
                <h2 class="infographic__copy">
                    1.9
                </h2>
                <p class="copy infographic__subcopy">million people use the local public transport networks daily</p>
            </div>


            <div class="infographic__item infographic__item--5">
                <h2 class="infographic__copy">
                    3rd
                </h2>
                <p class="copy infographic__subcopy">largest civil aviation hub of the world</p>
            </div>
        </div>
    </section>

    <section id="video" class="section section--nopadding overlay-wrapper">
        <div class="rotesBand rotesBand--1 rotesBand--overlay rotesBand--darker js--rotesBand"></div>
        <div class="overlay overlay--video js-overlay centerXY">
            <h2 class="h2 h2--centered video__title">
                {data.subtitle}
            </h2>
        </div>

        <iframe id="js-video-iframe" class="video" src="https://www.youtube.com/embed/EbOdGBt1O7A?enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>

    </section>

    <section id="whattoexpect" class="section">
        <div class="rotesBand rotesBand--2"></div>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />
        <div class="infographic col">
            <div class="infographic__item infographic__item--4">
                <img src="/fileadmin/icon_besucher.svg" alt="" class="infographic__image">
                <h2 class="infographic__copy">
                    15,000
                </h2>
                <p class="copy infographic__subcopy">visitors</p>
            </div>

            <div class="infographic__item infographic__item--4">
                <img src="/fileadmin/icon_experte.svg" alt="" class="infographic__image">
                <h2 class="infographic__copy">
                    3,500
                </h2>
                <p class="copy infographic__subcopy">international
                    <br>delegates</p>
            </div>

            <div class="infographic__item infographic__item--4">
                <img src="/fileadmin/icon_aussteller.svg" alt="" class="infographic__image">
                <h2 class="infographic__copy">
                    400
                </h2>
                <p class="copy infographic__subcopy">exhibitors</p>
            </div>

            <div class="infographic__item infographic__item--4">
                <img src="/fileadmin/icon_partnerprojekte.svg" alt="" class="infographic__image">
                <h2 class="infographic__copy">
                    250
                </h2>
                <p class="copy infographic__subcopy">projects and<br>showcases</p>
            </div>
        </div>
    </section>

    <div class="swiper-container">
        <div class="rotesBand rotesBand--3 rotesBand--overlay"></div>
        <div class="swiper-wrapper">
            <section id="experience" class="swiper-slide col">
                <div class="square--50 square--50--image">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '10'}" />
                </div>

                <div class="square--50 square--50--text">
                    <section class="section-inner section-inner--right section--blue">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '15'}" />
                    </section>
                </div>
            </section>

            <section id="futuremobility" class="swiper-slide col">
                <div class="square--50 square--50--image">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '20'}" />
                </div>

                <div class="square--50 square--50--text">
                    <section class="section-inner section-inner--right section--blue">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '25'}" />
                    </section>
                </div>
            </section>

            <section id="now" class="swiper-slide col">
                <div class="square--50 square--50--image">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '30'}" />
                </div>

                <div class="square--50 square--50--text">
                    <section class="section-inner section-inner--right section--blue">
                        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '35'}" />
                    </section>
                </div>
            </section>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <section id="meetus" class="section meetus">
        <div class="rotesBand rotesBand--4"></div>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '40'}" />
    </section>

    <section id="partner" class="section partner">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '45'}" />
        <div class="rotesBand rotesBand--5 rotesBand--darker rotesBand--overlay"></div>
    </section>

    <section id="stayinformed" class="section">
        <div class="rotesBand rotesBand--6"></div>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '50'}" />
        <br>

        <!--         <div class="input-wrapper">
            <input placeholder="Your e-mail" type="email" class="copy input input--text">

            <button class="input input--button">
            </button>
        </div> -->

        <br>

        <p class="copy copy--centered">
            We process your personal data in accordance with our
            <br>
            <a href="/privacy" class="copy--red">privacy policy</a>
        </p>
    </section>

    <hr class="line">

    <section id="twitter" class="section section--twitter">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '55'}" />
        <div class="col">
            <div class="twitter col-33">
                <a class="twitter-timeline" data-height="450" href="https://twitter.com/ITSHamburg2021?ref_src=twsrc%5Etfw">Tweets
                    by ITSHamburg2021</a>
            </div>

            <div class="twitter col-33">
                <a class="twitter-timeline" data-height="450" href="https://twitter.com/ITS_Congresses?ref_src=twsrc%5Etfw">Tweets
                    by hamburg_de</a>
            </div>

            <div class="twitter col-33">
                <a class="twitter-timeline" data-height="450" href="https://twitter.com/HH_BWVI?ref_src=twsrc%5Etfw">Tweets
                    by HH_BWVI</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <hr class="line">

    <section id="downloads" class="section downloads">
        <div class="rotesBand rotesBand--7"></div>
        <h2 class="h2 h2--centered">Information Center</h2>

        <div class="icon-download"></div>
        <div class="col downloads__inner">
            <div class="col-25 col-25-padding">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '60'}" />
            </div>

            <div class="col-25 col-25-padding">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '65'}" />
            </div>

            <div class="col-25 col-25-padding">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '70'}" />
            </div>

            <div class="col-25 col-25-padding">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '75'}" />
            </div>
        </div>
    </section>

    <section id="contact" class="section section--grey contact">
        <div class="rotesBand rotesBand--8"></div>
        <h2 class="h2 h2--centered">Contact</h2>

        <div class="contact__inner">
            <div class="contact__row">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '80'}" />
            </div>

            <div class="contact__row">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '85'}" />
            </div>

            <div class="contact__row">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '90'}" />
            </div>
        </div>
    </section>
</f:section>