<f:layout name="Subpage" />

<f:section name="Main">
    <section id="searchresult" class="section searchresults">
        <div class="rotesBand rotesBand--0"></div>
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
    </section>
</f:section>