.svg-common() {
	background: url("svg/sprite.css-b0e5a568.svg") no-repeat;
}

.svg-close {
	.svg-common();
	background-position: 75.04363001745202% 65.81986143187068%;
}

.svg-close-dims {
	width: 28.4px;
	height: 28.4px;
}

.svg-css--svg--sprite.css-a535dcda {
	.svg-common();
	background-position: 0 0;
}

.svg-css--svg--sprite.css-a535dcda-dims {
	width: 86px;
	height: 86px;
}

.svg-css--svg--sprite.css-cffe0c1e {
	.svg-common();
	background-position: 100% 0;
}

.svg-css--svg--sprite.css-cffe0c1e-dims {
	width: 57px;
	height: 57px;
}

.svg-lupe {
	.svg-common();
	background-position: 99.82547993019197% 65.81986143187068%;
}

.svg-lupe-dims {
	width: 28.4px;
	height: 28.4px;
}

.svg-sandwich {
	.svg-common();
	background-position: 0 99.30715935334874%;
}

.svg-sandwich-dims {
	width: 28.4px;
	height: 28.4px;
}

