.svg-close {
	background: url("svg/sprite.css-b0e5a568.svg") 75.04363001745202% 65.81986143187068% no-repeat;
}

.svg-close-dims {
	width: 28.4px;
	height: 28.4px;
}

.svg-css--svg--sprite.css-a535dcda {
	background: url("svg/sprite.css-b0e5a568.svg") 0 0 no-repeat;
}

.svg-css--svg--sprite.css-a535dcda-dims {
	width: 86px;
	height: 86px;
}

.svg-css--svg--sprite.css-cffe0c1e {
	background: url("svg/sprite.css-b0e5a568.svg") 100% 0 no-repeat;
}

.svg-css--svg--sprite.css-cffe0c1e-dims {
	width: 57px;
	height: 57px;
}

.svg-lupe {
	background: url("svg/sprite.css-b0e5a568.svg") 99.82547993019197% 65.81986143187068% no-repeat;
}

.svg-lupe-dims {
	width: 28.4px;
	height: 28.4px;
}

.svg-sandwich {
	background: url("svg/sprite.css-b0e5a568.svg") 0 99.30715935334874% no-repeat;
}

.svg-sandwich-dims {
	width: 28.4px;
	height: 28.4px;
}

