<f:layout name="General" />
<!--
=====================
Templates/ResultList.html

Settings are available via
{conf}
{extConf}
{extConfPremium}
-->
<f:section name="content">

	<f:if condition="{resultListAdditionalRawContent}">
		<f:format.raw>{resultListAdditionalRawContent}</f:format.raw>
	</f:if>

	<f:if condition="{isEmptySearch}">
		<f:then>
			<p class="text-center">Sorry, your searchword was too short.</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
		</f:then>
		<f:else>
			<f:if condition="{numberofresults} == 0">
				<f:then>
					<p class="text-center">Sorry, no results were found.</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
				</f:then>
				<f:else>
                                    <p class="text-center"><strong>Home</strong></p>
					<f:render partial="ResultRows" arguments="{conf: conf, numberofresults: numberofresults, resultrows: resultrows, sortingLinks: sortingLinks, pagebrowser:pagebrowser, queryTime:queryTime, queryTimeText:queryTimeText, type: 'content'}" />
                                    <p class="text-center"><strong>Documents</strong></p>
                                        <f:render partial="ResultRows" arguments="{conf: conf, numberofresults: numberofresults, resultrows: resultrows, sortingLinks: sortingLinks, pagebrowser:pagebrowser, queryTime:queryTime, queryTimeText:queryTimeText, type: 'file'}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>
