.abbinder {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 40px;

        &--texte {
            flex-direction: column;

            @media (min-width: @sizeTablet) {
                flex-direction: row;
            }  
        }
    }

    &__copy {
        margin-bottom: 2em;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: white;
        text-decoration: none;

        @media (min-width: @sizeTablet) {
            margin: 0;
            text-align: left; 
        }  
    }

    
    &__logo {
        max-width: 60vw;
        height: 100px;
        object-fit: contain;
        transition: 0.25s;
        
        @media (min-width: @sizeTablet) {
            height: 125px; 
        }  
    }
    
    &__buttons {
        display: flex;
        flex-direction: column;
        
        & > div, a {
            margin-bottom: 10px ;
            opacity: 0.7;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
        
        @media (min-width: @sizeTablet) {
            flex-direction: row;
            
            & > div, a {
                margin: 0;
                margin-right: 20px;
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    &--right {
        text-align: center;

        @media (min-width: @sizeTablet) {
            text-align: right; 
        }  
    }
}