.button {
    .centerXY;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background: @rot;
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;   

    &__menu {
        background-image: url(../Icons/sandwich.svg);
    }

    &__search {
        background-image: url(../Icons/lupe.svg);
        background-color: white;
    }
    
    &__scrollup {
        background-image: url(../Icons/icon_footer_seitenanfang.svg);
        background-color: white;
        background-size: 100%;
    }
    
    &__twitter {
        background-image: url(../Icons/icon_footer_twitter.svg);
        background-color: white;
        background-size: 100%;

    }

    &__language {
        display: none;
        color: white;
        background: transparent;
        align-items: center;
        justify-content: center;
        
        @media (min-width: @sizeTablet) {
            display: flex;
        }
    }
}

.js-button-search-grey {
    background-color: @grau;
}

.js-button-close {
    background-image: url(../Icons/close.svg);
}