.contact {
    z-index: 0;

    &__inner {
        display: flex;
        flex-direction: column;
        text-align: center;

        & > div {
            & img {
                margin-bottom: 30px;
                padding: 0 10%;
                width: 80%;
                height: 100%;
                object-fit: contain;

                @media (min-width: @sizeTablet) {
                    padding: 0;
                    width: 100%
                }
            }
        }

        & a {
            color: @dunkelblau;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        
        @media (min-width: @sizeTablet) {
            flex-direction: row;
            justify-content: space-around;
        }
        
        & > div {
            margin-bottom: 50px;
            
            @media (min-width: @sizeTablet) {
                width: 25%;
            }
        }
    }
}