p, .copy {
    color: @dunkelblau;
    font-size: 16px;
    font-family: 'HamburgSans-Regular';
    
    @media (min-width: @sizeDesktop) {
        font-size: 22px;
    }
    
    &--bold {
        font-family: 'HamburgSans-Bold';
    }

    &--hightlight {
        font-size: 22px;

        @media (min-width: @sizeDesktop) {
            font-size: 30px;
        }
    }
    
    &--centered{
        text-align: center;
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
        @media (min-width: @sizeDesktop) {
            max-width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }

    &--red {
        color: @rot;
    }

    &--white {
        color: white;
    }
}

a {
    color: @dunkelblau;
}