.downloads {
    &__inner {
        margin-top: 100px;
        
        @media (min-width: @sizeTablet) {
            margin-top: 200px;
        }

        & p, a {
            color: white;
        }
    }
}