.dunkelblauesBand {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 30px;
    width: 100%;
    background: #003063;

    @media (min-width: @sizeTablet) {
        height: 40px;
    }

    @media (min-width: @sizeDesktop) {
        height: 50px;
    }

    &__schiffsbug {
        position: absolute;
        left: 0;
        top: -12px;
        height: 23px;
        width: 80px;
        background-position: right 0;
        background-image: url(../Images/schiffsbug.png);

        @media (min-width: @sizeTablet) {
            top: -15px;
            height: 30px;
            width: 105px;
        }

        @media (min-width: @sizeDesktop) {
            top: -19px;
            height: 38px;
            width: 133px;
        }
    }
}