/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-ime-align:auto) {
    .rotesBand {
        display: none;
    }

    .downloads__inner p, .downloads__inner a {
        color: #003063;
    }
}