@font-face {
    font-family: 'HamburgSans-Regular';
    src: url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.eot'); /* IE9 Compat Modes */
    src: url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.svg#HamburgSans-Regular') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'HamburgSans-Bold';
    src: url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.svg#HamburgSans-Bold') format('svg'); /* Legacy iOS */
    text-rendering: optimizeLegibility;
}
