h1, h2, h3, .h1, .h2, .h3 {
    margin-bottom: 0.5em;
    font-family: 'HamburgSans-regular';
    color: @dunkelblau;

    &--white {
        color: white;
    }
    
    &--centered{
        text-align: center;
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;

        @media (min-width: @sizeDesktop) {
            max-width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
}
h2 {
    font-size: 40px;
    
    @media (min-width: @sizeTablet) {
        font-size: 60px;
    }
}
h3 {
    font-size: 25px;
    margin: 0;

    @media (min-width: @sizeTablet) {
        font-size: 40px;
    }
}