.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 25;
    transition: 0.5s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        padding-left: 30px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        & > div {
            margin-bottom: 10px ;

            &:last-child{
                margin-bottom: 0;
            }
        }

        @media (min-width: @sizeTablet) {
            flex-direction: row;

            & > div, a{
                margin: 0;
                margin-right: 10px;
                
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    &__logo {
        max-width: 60vw;
        height: 100px;
        object-fit: contain;
        transition: 0.25s;
    }

    &--hidden {
        top: -50%;
    }

    &--smaller {
        & .header__logo {
            height: 0;
            width: 0;
        }

        & .button__search {
            background-color: @grau;
        }
    }
    &--transparent {
        background: transparent;
    }
}