.col {
    display: flex;
    position: relative;
    flex-direction: column;

    &-50-padding {
        padding-bottom: 5%;
    }

    &-25-padding {
        padding-bottom: 5%;
    }

    &-33-padding {
        padding-bottom: 5%;
    }

    @media (min-width: @sizeTablet) {
        flex-direction: row;

        &-50 {
            width: 50%;

            &-padding {
                padding: 5% 2.5%;

                &:first-child{
                    padding-left: 0%;
                }
                &:last-child {
                    padding-right: 0%;
                }
            }
        }
    
        &-33 {
            width: 33%;

            &-padding {
                padding: 5%;
            }
        }
    
        &-25 {
            width: 25%;

            &-padding {
                padding: 5% 1.5%;

                &:first-child{
                    padding-left: 0%;
                }
                &:last-child {
                    padding-right: 0%;
                }
            }
        }
    }
}

.centerXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visuallyHidden {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.square{
    &--50 {
        height: 100vw;
        width: 100vw;
        
        @media (min-width: @sizeTablet) {
            height: 50vw;
            width: 50vw;
        }
        
        &--text {
            height: 100%;
            width: 100vw;
            
            @media (min-width: @sizeTablet) {
                overflow-y: scroll;
                height: 50vw;
                width: 50vw;
            }
        }

        &--image img{
            height: 100vw;
            width: 100vw;
            
            @media (min-width: @sizeTablet) {
                height: 50vw;
                width: 50vw;
            }
        }
    }
}

.frame {
    position: relative;
}