.hero {
    padding: 0;
    height: 100vh;
    background-image: url(../Images/slider_handy.jpg );
    background-size: cover;
    background-position: center;
    
    @media (min-width: @sizeTablet) {
        background-image: url(../Images/slider.jpg );
        background-position: 0% 50%;
    }
    
    &__headline {
        position: relative;
        top: 57%; 
        padding-left: 20px;
        width: 250px;
        font-size: 40px;
        line-height: 1.2em;
        font-family: 'HamburgSans-regular';
        font-weight: 100;
        color: #fff;
        
        @media (min-width: @sizeTablet) {
            top: 45%;
            width: 500px;
            font-size: 65px;
        }
    }
}