.icon {
    .centerXY;
    width: 32px;
    height: 32px;

    &-download {
        display: none;
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -50px;
        height: 100px;
        width: 100px;
        background-image: url(../Icons/icon_download_neu.svg);


        @media (min-width: @sizeTablet) {
            display: initial;
        }
    }
}