.infographic {
    text-align: center;

    &--blue {
        & .infographic {
            &__copy, &__subcopy {
                color: @dunkelblau;
            }

            &__item {
                margin-top: 50px;     
            }
        }
    }

    &__item {
        margin-top: 100px;
        padding: 0 10px;

        &--4 {
            @media (min-width: @sizeTablet) {
                width: 25%;
            }
        }
        
        &--5 {
            @media (min-width: @sizeTablet) {
                width: 20%;
            }
        }
    }

    &__copy, &__subcopy {
        color: @rot;
    }

    &__copy {
        font-size: 50px;
        margin-bottom: 0;

        @media (min-width: @sizeDesktop) {
            font-size: 60px;
        }
    }

    &__subcopy {
        font-size: 30px;

        @media (min-width: @sizeTablet) {
            font-size: 26px;
        }
    }

    &__image {
        width: 30%;
    }
}