form {
    display: flex;
    width: 100%;
}

.input {
    border: none;
    
    &-wrapper {
        display: flex;
        width: 100%;
        
        @media (min-width: @sizeDesktop) {
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }
    }
    
    &-icon {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        background-image: url(../Icons/lupe.svg);
        background-size: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
    }

    &--text {
        padding: 5px 15px;
        width: 100%;
        background-color: @grau;
    }

    &--button {
        margin-left: 5px;
        width: 60px;
        height: 60px;
        background-image: url(../Icons/icons_pfeil_newsletter.svg);
        background-color: @rot;
        background-size: 50%;
        background-position: 50%;
        background-repeat: no-repeat;
    }

}