.line {
    width: 5%;
    height: 5px;
    margin-left: 47.5%;
    margin-right: 47.5%;
    background-color: @dunkelblau;
    
    @media (min-width: @sizeTablet) {
        height: 10px;
    }

    &-copy {
        width: 50px;
        height: 5px;
        background-color: white;
    }
}

hr {
    width: 50px;
    height: 5px;
    background-color: white;
}