.link {
    color: @rot;
    text-decoration: none;

    &-wrapper { 
        &--centered {
            text-align: center; 
        }
        font-size: 20px;
        
        @media (min-width: @sizeTablet) {
            font-size: 35px;
        }
    }     
    
    &--white {
        color: white;
    }
}