.navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    align-items: center;
    z-index: 20;

    &--active {
        display: flex;
    }
}

.nav {
    display: flex;
    padding: 0 20px;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;

    &__item {
        padding: 10px 0;
        font-family: 'HamburgSans-bold';
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        transition: .5s;
        color: @dunkelblau;
        
        @media (min-width: @sizeTablet) {
            line-height: 1em;
            padding: 12px 0;
            font-size: 50px;
        }
    
        &:hover {
            color: @rot;
        }
    }
}