.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 0.75;

    &--hidden {
        display: none;
    }

    &--video {
        opacity: 1;
        background-image: url(../Images/bild_overlay_video_playbutton.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-color: @dunkelblau;

        & h1,h2,h3,h4,h5,p,a {
            color: white;
        }
    }

}