.partner {
    background-image: url(../Images/bg_image_hamburg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);

    &h1, h2, h3, h4, p, a {
        color: white;
        text-decoration: none;
    }

    .ce-center .image-embed-item{
        position: relative;
        margin-left: -75px;
        margin-bottom: 40px;
        width: 150px;
        height: 150px;
        left: 50%;
    }
}