.rotesBand {
    position: absolute;
    background-color: @rot;
    transition: 0.5s;

    &--darker {
        background-color: darken(@rot, 20%);
    }

    &--0 {
        max-height: 100vh;
        bottom: 0;
        right: 0;
        width: 200%;
        max-height: 100vh;
        height: 50%;
        clip-path: polygon(100% 10%,100% 30%, 75% 100%,50% 100%);
        
        &--hidden {
            clip-path: polygon(100% 10%,100% 30%,100% 30%,100% 10%);
        }

        @media (min-width: @sizeTablet) {
            width: 100%;
            height: 90%;
        }
    }

    &--1 {
        display: none;
        top: 0;
        right: 0;
        width: 200%;
        height: 50%;
        clip-path: polygon(50% 0, 75% 0, 0 60%, 0 20%);

        &--hidden {
            clip-path: polygon(50% 0, 75% 0, 75% 0, 50% 0);
        }

        @media (min-width: @sizeTablet) {
            top: 0;
            width: 100%;
            height: 90%;
        }
    }

    &--2 {
        top: 0;
        right: 20%;
        width: 150%;
        height: 50%;
        clip-path: polygon(30% 0%, 70% 0%, 0% 60% ,0% 15%);
        
        &--hidden {
            clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 30% 0%);
        }

        @media (min-width: @sizeTablet) {
            width: 100%;
            height: 90%;
        }
    }

    &--3 {
        display: none;
        bottom: 0;
        right: 0;
        width: 200%;
        height: 50%;
        opacity: 0.6;
        clip-path: polygon(100% 10%, 100% 30%, 70% 100%, 30% 100%);
        
        &--hidden {
            clip-path: polygon(100% 10%,100% 30%,100% 30%,100% 10%);
        }

        @media (min-width: @sizeTablet) {
            width: 100%;
            height: 90%;
        }
    }

    &--4 {
        top: 0;
        right: 0;
        width: 100%;
        height: 50%;
        clip-path: polygon(30% 0%, 70% 0%, 0% 60% ,0% 15%);
        
        &--hidden {
            clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 30% 0%);
        }

        @media (min-width: @sizeTablet) {
            width: 100%;
            height: 90%;
        }
    }

    &--5 {
        bottom: 0;
        right: 0;
        width: 200%;
        height: 50%;
        opacity: 0.6;
        clip-path: polygon(0 40%, 50% 100%, 25% 100%, 0 60%);
        
        &--hidden {
            clip-path: polygon(0 40%, 0 40%, 0 60%, 0 60%);
        }

        @media (min-width: @sizeTablet) {
            width: 100%;
            height: 90%;
        }
    }

    &--6 {
        top: 0;
        right: 0;
        width: 200%;
        height: 50%;
        clip-path: polygon(50% 0,0 40%,0 10%,25% 0);
        
        &--hidden {
            clip-path: polygon(50% 0, 50% 0, 25% 0, 25% 0);
        }

        @media (min-width: @sizeTablet) {
            width: 100%;
            height: 90%;
        }
    }

    &--7 {
        top: -15%;
        right: 0;
        width: 300%;
        height: 130%;
        opacity: 1;
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 40%);
        
        &--hidden {
            clip-path: polygon(0 0, 0 40%, 0 40%, 0 0);
        }

        @media (min-width: @sizeTablet) {
            top: 5%;
            width: 150%;
            height: 125%;
        }
    }

    &--8 {
        bottom: 0;
        right: 0;
        width: 200%;
        height: 50%;
        max-height: 100vh;
        clip-path: polygon(100% 10%,100% 30%, 75% 100%,50% 100%);
        
        &--hidden {
            clip-path: polygon(100% 10%,100% 30%,100% 30%,100% 10%);
        }

        @media (min-width: @sizeTablet) {
            height: 90%;
        }
    }
}