.search {
    .centerXY;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5%;
    padding-top: 180px;
    width: 90%;
    background: white;
    z-index: 15;

    &--active {
        display: flex;
    }
}
.hit {
    color: @rot;
}
