.section {
    position: relative;
    padding: 20px;

    &-inner {
        padding: 5%;
        padding-bottom: 10%;
        min-height: 90.5%;

        @media (min-width: @sizeTablet) {
            padding: 5%;
        }

        &--right {
            padding-right: 10%;
        }
    }

    @media (min-width: @sizeTablet) {
        padding: 120px 40px;
    }

    &--blue {
        background-color: @dunkelblau;
        
        & h1, h2, h3, a, p {
            color: white;
        }
    }

    &--grey {
        background-color: @grau;
    }

    &--nopadding{
        padding: 0;
    }
}