h1, h2, h3 {
    &.ce-headline-center {
        text-align: center;
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
        @media (min-width: @sizeDesktop) {
            max-width: 60%;
            margin-left: 20%;
            margin-right: 20%;
        }
    }
}

p, a {
    &.text-center {
        text-align: center;
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
        @media (min-width: @sizeDesktop) {
            max-width: 60%;
            margin-left: 20%;
            margin-right: 20%;
        }
    }
}
