.video {
    width: 100%;
    height: 50vw;

    &__title {
        display: none;

        @media (min-width: @sizeTablet) {
            display: initial;
            margin-bottom: 25%;
        }
    }
}