<footer class="section--blue abbinder">
    <div class="abbinder__wrapper">
        <img src="/fileadmin/logo_its_weiss.png" alt="" class="abbinder__logo">

        <div class="abbinder__buttons">
            <a href="https://twitter.com/ITSHamburg2021" target="_new" class="button button__twitter js-button-twitter"></a>
            <div class="button button__scrollup js-button-up"></div>
        </div>
    </div>

    <div class="abbinder__wrapper abbinder__wrapper--texte">
        <p class="copy abbinder__copy">
            ITS Hamburg 2021 GmbH <br> c/o WeWork Stadthaus <br> Axel-Springer-Platz 3 <br> 20355 Hamburg, Germany
        </p>

        <p class="copy abbinder__copy abbinder--right">
            <a href="/privacy" class="copy abbinder__copy">Privacy policy</a><br/>
            <a href="/imprint" class="copy abbinder__copy">Imprint</a>
        </p>
    </div>
</footer>