<form method="get" action="/" id="form_kesearch_searchfield" name="form_kesearch_searchfield" class="search js-search">
    <input name="id" value="12" type="hidden">
    <div class="input-wrapper">
        <div class="input-icon"></div>
        <input id="ke_search_searchfield_sword" name="tx_kesearch_pi1[sword]" type="text" class="copy input input--text">
        <button type="submit" id="ke_search_searchfield_submit" class="input input--button">
        </button>
    </div>
</form>