<div class="navigation js-navigation">
    <nav class="nav">
        <a href="/#about" class="nav__item">ABOUT US</a>
        <a href="/#whattoexpect" class="nav__item">WHAT TO EXPECT</a>
        <a href="/#experience" class="nav__item">EXPERIENCE FUTURE MOBILITY NOW</a>
        <a href="/#meetus" class="nav__item">MEET US</a>
        <a href="/#partner" class="nav__item">BECOME A PARTNER</a>
        <a href="/#stayinformed" class="nav__item">GET IN TOUCH</a>
        <a href="/#downloads" class="nav__item">DOWNLOADS</a>
        <a href="/#contact" class="nav__item">CONTACT</a>
    </nav>
</div>

