@font-face {
  font-family: 'HamburgSans-Regular';
  src: url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.eot');
  src: url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.woff2') format('woff2'), /* Modern Browsers */ url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.woff') format('woff'), /* Modern Browsers */ url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/HamburgSans/HamburgSans-Regular/HamburgSans-Regular.svg#HamburgSans-Regular') format('svg');
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'HamburgSans-Bold';
  src: url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.eot');
  src: url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.woff2') format('woff2'), /* Modern Browsers */ url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.woff') format('woff'), /* Modern Browsers */ url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/HamburgSans/HamburgSans-Bold/HamburgSans-Bold.svg#HamburgSans-Bold') format('svg');
  text-rendering: optimizeLegibility;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.col {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
      flex-direction: column;
}
.col-50-padding {
  padding-bottom: 5%;
}
.col-25-padding {
  padding-bottom: 5%;
}
.col-33-padding {
  padding-bottom: 5%;
}
@media (min-width: 768px) {
  .col {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .col-50 {
    width: 50%;
  }
  .col-50-padding {
    padding: 5% 2.5%;
  }
  .col-50-padding:first-child {
    padding-left: 0%;
  }
  .col-50-padding:last-child {
    padding-right: 0%;
  }
  .col-33 {
    width: 33%;
  }
  .col-33-padding {
    padding: 5%;
  }
  .col-25 {
    width: 25%;
  }
  .col-25-padding {
    padding: 5% 1.5%;
  }
  .col-25-padding:first-child {
    padding-left: 0%;
  }
  .col-25-padding:last-child {
    padding-right: 0%;
  }
}
.centerXY {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.visuallyHidden {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.square--50 {
  height: 100vw;
  width: 100vw;
}
@media (min-width: 768px) {
  .square--50 {
    height: 50vw;
    width: 50vw;
  }
}
.square--50--text {
  height: 100%;
  width: 100vw;
}
@media (min-width: 768px) {
  .square--50--text {
    overflow-y: scroll;
    height: 50vw;
    width: 50vw;
  }
}
.square--50--image img {
  height: 100vw;
  width: 100vw;
}
@media (min-width: 768px) {
  .square--50--image img {
    height: 50vw;
    width: 50vw;
  }
}
/* @import 'sprite.less'; */
p,
.copy {
  color: #003063;
  font-size: 16px;
  font-family: 'HamburgSans-Regular';
}
@media (min-width: 1024px) {
  p,
  .copy {
    font-size: 22px;
  }
}
p--bold,
.copy--bold {
  font-family: 'HamburgSans-Bold';
}
p--hightlight,
.copy--hightlight {
  font-size: 22px;
}
@media (min-width: 1024px) {
  p--hightlight,
  .copy--hightlight {
    font-size: 30px;
  }
}
p--centered,
.copy--centered {
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
@media (min-width: 1024px) {
  p--centered,
  .copy--centered {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
p--red,
.copy--red {
  color: #e10019;
}
p--white,
.copy--white {
  color: white;
}
a {
  color: #003063;
}
h1.ce-headline-center,
h2.ce-headline-center,
h3.ce-headline-center {
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
@media (min-width: 1024px) {
  h1.ce-headline-center,
  h2.ce-headline-center,
  h3.ce-headline-center {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
p.text-center,
a.text-center {
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
@media (min-width: 1024px) {
  p.text-center,
  a.text-center {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
.icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 32px;
  height: 32px;
}
.icon-download {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  background-image: url(../Icons/icon_download_neu.svg);
}
@media (min-width: 768px) {
  .icon-download {
    display: initial;
  }
}
.button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background: #e10019;
  background-size: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.button__menu {
  background-image: url(../Icons/sandwich.svg);
}
.button__search {
  background-image: url(../Icons/lupe.svg);
  background-color: white;
}
.button__scrollup {
  background-image: url(../Icons/icon_footer_seitenanfang.svg);
  background-color: white;
  background-size: 100%;
}
.button__twitter {
  background-image: url(../Icons/icon_footer_twitter.svg);
  background-color: white;
  background-size: 100%;
}
.button__language {
  display: none;
  color: white;
  background: transparent;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (min-width: 768px) {
  .button__language {
    display: -ms-flexbox;
    display: flex;
  }
}
.js-button-search-grey {
  background-color: #e3e3e3;
}
.js-button-close {
  background-image: url(../Icons/close.svg);
}
form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.input {
  border: none;
}
.input-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 1024px) {
  .input-wrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.input-icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-image: url(../Icons/lupe.svg);
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.input--text {
  padding: 5px 15px;
  width: 100%;
  background-color: #e3e3e3;
}
.input--button {
  margin-left: 5px;
  width: 60px;
  height: 60px;
  background-image: url(../Icons/icons_pfeil_newsletter.svg);
  background-color: #e10019;
  background-size: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.link {
  color: #e10019;
  text-decoration: none;
}
.link-wrapper {
  font-size: 20px;
}
.link-wrapper--centered {
  text-align: center;
}
@media (min-width: 768px) {
  .link-wrapper {
    font-size: 35px;
  }
}
.link--white {
  color: white;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 25;
  transition: 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px;
  padding-left: 30px;
}
.header__buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.header__buttons > div {
  margin-bottom: 10px ;
}
.header__buttons > div:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header__buttons {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .header__buttons > div,
  .header__buttons a {
    margin: 0;
    margin-right: 10px;
  }
  .header__buttons > div:last-child,
  .header__buttons a:last-child {
    margin-right: 0;
  }
}
.header__logo {
  max-width: 60vw;
  height: 100px;
  object-fit: contain;
  transition: 0.25s;
}
@media (min-width: 768px) {
  .header__logo {
    height: 130px;
  }
}
.header--hidden {
  top: -50%;
}
.header--smaller .header__logo {
  height: 0;
  width: 0;
}
.header--smaller .button__search {
  background-color: #e3e3e3;
}
.header--transparent {
  background: transparent;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-bottom: 0.5em;
  font-family: 'HamburgSans-regular';
  color: #003063;
}
h1--white,
h2--white,
h3--white,
.h1--white,
.h2--white,
.h3--white {
  color: white;
}
h1--centered,
h2--centered,
h3--centered,
.h1--centered,
.h2--centered,
.h3--centered {
  text-align: center;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
@media (min-width: 1024px) {
  h1--centered,
  h2--centered,
  h3--centered,
  .h1--centered,
  .h2--centered,
  .h3--centered {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
h2 {
  font-size: 40px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 60px;
  }
}
h3 {
  font-size: 25px;
  margin: 0;
}
@media (min-width: 768px) {
  h3 {
    font-size: 40px;
  }
}
.abbinder__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 40px;
}
.abbinder__wrapper--texte {
  -ms-flex-direction: column;
      flex-direction: column;
}
@media (min-width: 768px) {
  .abbinder__wrapper--texte {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.abbinder__copy {
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .abbinder__copy {
    margin: 0;
    text-align: left;
  }
}
.abbinder__logo {
  max-width: 60vw;
  height: 100px;
  object-fit: contain;
  transition: 0.25s;
}
@media (min-width: 768px) {
  .abbinder__logo {
    height: 125px;
  }
}
.abbinder__buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.abbinder__buttons > div,
.abbinder__buttons a {
  margin-bottom: 10px ;
  opacity: 0.7;
}
.abbinder__buttons > div:last-child,
.abbinder__buttons a:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .abbinder__buttons {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .abbinder__buttons > div,
  .abbinder__buttons a {
    margin: 0;
    margin-right: 20px;
  }
  .abbinder__buttons > div:last-child,
  .abbinder__buttons a:last-child {
    margin-right: 0;
  }
}
.abbinder--right {
  text-align: center;
}
@media (min-width: 768px) {
  .abbinder--right {
    text-align: right;
  }
}
.navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  -ms-flex-align: center;
      align-items: center;
  z-index: 20;
}
.navigation--active {
  display: -ms-flexbox;
  display: flex;
}
.nav {
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow-y: scroll;
}
.nav__item {
  padding: 10px 0;
  font-family: 'HamburgSans-bold';
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  transition: .5s;
  color: #003063;
}
@media (min-width: 768px) {
  .nav__item {
    line-height: 1em;
    padding: 12px 0;
    font-size: 50px;
  }
}
.nav__item:hover {
  color: #e10019;
}
.swiper-button-next {
  top: 50vw;
  right: 20px;
  background-image: url(../Images/icons_pfeil.svg);
  background-size: 160%;
}
@media (min-width: 768px) {
  .swiper-button-next {
    top: 50%;
  }
}
.swiper-button-prev {
  top: 50vw;
  left: 20px;
  background-image: url(../Images/icons_pfeil.svg);
  background-size: 160%;
  -ms-transform: scaleX(-1);
      transform: scaleX(-1);
}
@media (min-width: 768px) {
  .swiper-button-prev {
    top: 50%;
  }
}
.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.2;
}
.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}
.swiper-container-horizontal {
  background-color: #003063;
}
@media (min-width: 768px) {
  .swiper-container-horizontal {
    height: 50vw;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    left: 100%;
    bottom: 30px;
    margin-left: -130px;
    width: initial;
    text-align: left;
  }
}
.search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5%;
  padding-top: 180px;
  width: 90%;
  background: white;
  z-index: 15;
}
.search--active {
  display: -ms-flexbox;
  display: flex;
}
.hit {
  color: #e10019;
}
.section {
  position: relative;
  padding: 20px;
}
.section-inner {
  padding: 5%;
  padding-bottom: 10%;
  min-height: 90.5%;
}
@media (min-width: 768px) {
  .section-inner {
    padding: 5%;
  }
}
.section-inner--right {
  padding-right: 10%;
}
@media (min-width: 768px) {
  .section {
    padding: 120px 40px;
  }
}
.section--blue {
  background-color: #003063;
}
.section--blue h1,
.section--blue h2,
.section--blue h3,
.section--blue a,
.section--blue p {
  color: white;
}
.section--grey {
  background-color: #e3e3e3;
}
.section--nopadding {
  padding: 0;
}
.rotesBand {
  position: absolute;
  background-color: #e10019;
  transition: 0.5s;
  z-index: -10;
}
.rotesBand--darker {
  background-color: #7b000e;
}
.rotesBand--overlay {
  z-index: 10;
}
.rotesBand--0 {
  bottom: 0;
  right: 0;
  width: 200%;
  max-height: 100vh;
  height: 50%;
  -webkit-clip-path: polygon(100% 10%, 100% 30%, 75% 100%, 50% 100%);
          clip-path: polygon(100% 10%, 100% 30%, 75% 100%, 50% 100%);
}
.rotesBand--0--hidden {
  -webkit-clip-path: polygon(100% 10%, 100% 30%, 100% 30%, 100% 10%);
          clip-path: polygon(100% 10%, 100% 30%, 100% 30%, 100% 10%);
}
@media (min-width: 768px) {
  .rotesBand--0 {
    width: 100%;
    height: 90%;
  }
}
.rotesBand--1 {
  display: none;
  top: 0;
  right: 0;
  width: 200%;
  height: 50%;
  -webkit-clip-path: polygon(50% 0, 75% 0, 0 60%, 0 20%);
          clip-path: polygon(50% 0, 75% 0, 0 60%, 0 20%);
}
.rotesBand--1--hidden {
  -webkit-clip-path: polygon(50% 0, 75% 0, 75% 0, 50% 0);
          clip-path: polygon(50% 0, 75% 0, 75% 0, 50% 0);
}
@media (min-width: 768px) {
  .rotesBand--1 {
    top: 0;
    width: 100%;
    height: 90%;
  }
}
.rotesBand--2 {
  top: 0;
  right: 20%;
  width: 150%;
  height: 50%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 0% 60%, 0% 15%);
          clip-path: polygon(30% 0%, 70% 0%, 0% 60%, 0% 15%);
}
.rotesBand--2--hidden {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 30% 0%);
          clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 30% 0%);
}
@media (min-width: 768px) {
  .rotesBand--2 {
    width: 100%;
    height: 90%;
  }
}
.rotesBand--3 {
  display: none;
  bottom: 0;
  right: 0;
  width: 200%;
  height: 50%;
  opacity: 0.6;
  -webkit-clip-path: polygon(100% 10%, 100% 30%, 70% 100%, 30% 100%);
          clip-path: polygon(100% 10%, 100% 30%, 70% 100%, 30% 100%);
}
.rotesBand--3--hidden {
  -webkit-clip-path: polygon(100% 10%, 100% 30%, 100% 30%, 100% 10%);
          clip-path: polygon(100% 10%, 100% 30%, 100% 30%, 100% 10%);
}
@media (min-width: 768px) {
  .rotesBand--3 {
    width: 100%;
    height: 90%;
  }
}
.rotesBand--4 {
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 0% 60%, 0% 15%);
          clip-path: polygon(30% 0%, 70% 0%, 0% 60%, 0% 15%);
}
.rotesBand--4--hidden {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 30% 0%);
          clip-path: polygon(30% 0%, 70% 0%, 70% 0%, 30% 0%);
}
@media (min-width: 768px) {
  .rotesBand--4 {
    width: 100%;
    height: 90%;
  }
}
.rotesBand--5 {
  bottom: 0;
  right: 0;
  width: 200%;
  height: 50%;
  opacity: 0.6;
  -webkit-clip-path: polygon(0 40%, 50% 100%, 25% 100%, 0 60%);
          clip-path: polygon(0 40%, 50% 100%, 25% 100%, 0 60%);
}
.rotesBand--5--hidden {
  -webkit-clip-path: polygon(0 40%, 0 40%, 0 60%, 0 60%);
          clip-path: polygon(0 40%, 0 40%, 0 60%, 0 60%);
}
@media (min-width: 768px) {
  .rotesBand--5 {
    width: 100%;
    height: 90%;
  }
}
.rotesBand--6 {
  top: 0;
  right: 0;
  width: 200%;
  height: 50%;
  -webkit-clip-path: polygon(50% 0, 0 40%, 0 10%, 25% 0);
          clip-path: polygon(50% 0, 0 40%, 0 10%, 25% 0);
}
.rotesBand--6--hidden {
  -webkit-clip-path: polygon(50% 0, 50% 0, 25% 0, 25% 0);
          clip-path: polygon(50% 0, 50% 0, 25% 0, 25% 0);
}
@media (min-width: 768px) {
  .rotesBand--6 {
    width: 100%;
    height: 90%;
  }
}
.rotesBand--7 {
  top: -15%;
  right: 0;
  width: 300%;
  height: 130%;
  opacity: 1;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 40%);
          clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 40%);
}
.rotesBand--7--hidden {
  -webkit-clip-path: polygon(0 0, 0 40%, 0 40%, 0 0);
          clip-path: polygon(0 0, 0 40%, 0 40%, 0 0);
}
@media (min-width: 768px) {
  .rotesBand--7 {
    top: 5%;
    width: 150%;
    height: 125%;
  }
}
.rotesBand--8 {
  bottom: 0;
  right: 0;
  width: 200%;
  height: 50%;
  -webkit-clip-path: polygon(100% 10%, 100% 30%, 75% 100%, 50% 100%);
          clip-path: polygon(100% 10%, 100% 30%, 75% 100%, 50% 100%);
}
.rotesBand--8--hidden {
  -webkit-clip-path: polygon(100% 10%, 100% 30%, 100% 30%, 100% 10%);
          clip-path: polygon(100% 10%, 100% 30%, 100% 30%, 100% 10%);
}
@media (min-width: 768px) {
  .rotesBand--8 {
    height: 90%;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 0.75;
}
.overlay--hidden {
  display: none;
}
.overlay--video {
  opacity: 1;
  background-image: url(../Images/bild_overlay_video_playbutton.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-color: #003063;
}
.overlay--video h1,
.overlay--video h2,
.overlay--video h3,
.overlay--video h4,
.overlay--video h5,
.overlay--video p,
.overlay--video a {
  color: white;
}
.dunkelblauesBand {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 30px;
  width: 100%;
  background: #003063;
}
@media (min-width: 768px) {
  .dunkelblauesBand {
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .dunkelblauesBand {
    height: 50px;
  }
}
.dunkelblauesBand__schiffsbug {
  position: absolute;
  left: 0;
  top: -12px;
  height: 23px;
  width: 80px;
  background-position: right 0;
  background-image: url(../Images/schiffsbug.png);
}
@media (min-width: 768px) {
  .dunkelblauesBand__schiffsbug {
    top: -15px;
    height: 30px;
    width: 105px;
  }
}
@media (min-width: 1024px) {
  .dunkelblauesBand__schiffsbug {
    top: -19px;
    height: 38px;
    width: 133px;
  }
}
.line {
  width: 5%;
  height: 5px;
  margin-left: 47.5%;
  margin-right: 47.5%;
  background-color: #003063;
}
@media (min-width: 768px) {
  .line {
    height: 10px;
  }
}
.line-copy {
  width: 50px;
  height: 5px;
  background-color: white;
}
hr {
  width: 50px;
  height: 5px;
  background-color: white;
}
.hero {
  padding: 0;
  height: 100vh;
  background-image: url(../Images/slider_handy.jpg );
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    background-image: url(../Images/slider.jpg );
    background-position: 0% 50%;
  }
}
.hero__headline {
  position: relative;
  top: 57%;
  padding-left: 20px;
  width: 250px;
  font-size: 40px;
  line-height: 1.2em;
  font-family: 'HamburgSans-regular';
  font-weight: 100;
  color: #fff;
}
@media (min-width: 768px) {
  .hero__headline {
    top: 45%;
    width: 500px;
    font-size: 65px;
  }
}
.video {
  width: 100%;
  height: 50vw;
}
.video__title {
  display: none;
}
@media (min-width: 768px) {
  .video__title {
    display: initial;
    margin-bottom: 25%;
  }
}
.infographic {
  text-align: center;
}
.infographic--blue .infographic__copy,
.infographic--blue .infographic__subcopy {
  color: #003063;
}
.infographic--blue .infographic__item {
  margin-top: 50px;
}
.infographic__item {
  margin-top: 100px;
}
@media (min-width: 768px) {
  .infographic__item {
    width: 25%;
  }
}
.infographic__copy,
.infographic__subcopy {
  color: #e10019;
}
.infographic__copy {
  font-size: 50px;
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .infographic__copy {
    font-size: 60px;
  }
}
.infographic__subcopy {
  font-size: 30px;
}
@media (min-width: 768px) {
  .infographic__subcopy {
    font-size: 26px;
  }
}
.infographic__image {
  width: 30%;
}
.twitter {
  padding: 10px;
}
.meetus h3,
.meetus a {
  color: #e10019;
  text-decoration: none;
}
.partner {
  background-image: url(../Images/bg_image_hamburg.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}
.partnerh1,
.partner h2,
.partner h3,
.partner h4,
.partner p,
.partner a {
  color: white;
  text-decoration: none;
}
.partner .ce-center .image-embed-item {
  position: relative;
  margin-left: -75px;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  left: 50%;
}
.downloads__inner {
  margin-top: 100px;
}
@media (min-width: 768px) {
  .downloads__inner {
    margin-top: 200px;
  }
}
.downloads__inner p,
.downloads__inner a {
  color: white;
}
.contact {
  z-index: 0;
}
.contact__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .contact__inner {
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
.contact__inner > div img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.contact__inner a {
  color: #003063;
}
.searchresults {
  padding-top: 200px;
}
